<h1>About Us</h1>
<p>hiya, i'm h - new to ruby and rails but loving it more than all. this is my first rails app, a "pinterest" clone, as you can see. </p> 
<p> i will be adding more features, and turn it into all things coffee - stay tuned! xxh</p>